*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family:sans-serif ;
}

/* h3{
    font-family: 'Montserrat', sans-serif;
    color: lightslategray;

} */


/* Utility */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* container principale */

.container{
    width: 1170px;
    margin: 0 auto;
}

/* container per l'header */
header{
    margin-bottom: 40px;
    background: pink;
}

header .logo img{
    width: 167px;
}

.barra-selezione{
    margin-top: 40px;
}

.barra-selezione li{
    list-style: none;
}

/* parte centrale */
.hero{
    height: 500px;
    margin-bottom: 40px;
    background: gold;
}

.leadership{
    margin-bottom: 20px;
    background: dodgerblue;

}

.leadership .heading{
    height: 60px;
    background: lightblue;
    margin-bottom: 40px;

}

.leadership .columns .col{
    float: left;
    width: 20%;
    height: 600px;
    margin-bottom: 20px;
    background: lightblue;
}

.leadership .columns .col:nth-child(2){
    width: 56%;
    margin: 0 2%;
}

/* finale */
footer{
    height: 60px;
    background: rebeccapurple;
}