*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

h1,
h2,
h3,
h4{
    font-weight: 600;
}


/* Utility */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* container principale */

.container{
    width: 1170px;
    margin: 0 auto;
}

/* container per l'header */
header{
    margin-bottom: 40px;
    
}

header .logo img{
    width: 167px;
}

.barra-selezione{
    margin-top: 40px;
}

.barra-selezione li{
    display: inline-block;
    list-style: none;
    margin-right: 20px;

}

.barra-selezione li:last-child{
    margin-right: 0;
}

.barra-selezione li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #a8a8a8;
}

/* parte centrale */
.hero{
    
    height: 500px;
    margin-bottom: 40px;
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    
    
}

.hero-container{

    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 20px;
    padding: 20px;

}

.overlay{
    background-color:rgba(0,0,0,0.2);
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 100%;
}

.hero,
.overlay{
    border-radius: 2%;
}

.hero-container h3{
    color: white;
    font-size: 30px;
}
.hero-container p{
    color: white;
    
}






.leadership{
    margin-bottom: 20px;
    

}

.leadership .heading{
    margin-bottom: 40px;

}

.leadership h2{
    font-size: 40px;
}

.leadership p{
    color: #a8a8a8;
}

.leadership .columns .col{
    float: left;
    width: 20%;
    height: 600px;
    margin-bottom: 20px;
    
}

.leadership .columns .mini-img{

    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    background:#7788993b;
}


.leadership .columns .col:nth-child(2){
    width: 56%;
    margin: 0 2%;
}

/* finale */
footer{
    height: 60px;
    background: rebeccapurple;
}